.navi {

    width: 500px;

    margin: 5px;

    padding:2px 5px;

    border:1px solid #eee;

    }

 

    .show {

    color: blue;
    margin: 5px 0;

    padding: 3px 5px;

    cursor: pointer;

    font: 15px/19px Arial,Helvetica,sans-serif;

    }

    .show a {

    text-decoration: none;

    }

    .show:hover {

    text-decoration: underline;

    }

 

 

    ul.setPaginate li.setPage{

    padding:15px 10px;

    font-size:14px;

    }

 

    ul.setPaginate{

    margin:0px;

    padding:0px;

    height:100%;

    overflow:hidden;

    font:12px 'Tahoma';

    list-style-type:none;  

    } 

 

    ul.setPaginate li.dot{padding: 3px 0;}

 

    ul.setPaginate li{

    float:left;
    margin:0px;

    padding:0px;

    margin-left:5px;

    }

 

 

 

    ul.setPaginate li a

    {

    background: none repeat scroll 0 0 #ffffff;

    border: 1px solid #cccccc;

    color: #999999;

    display: inline-block;

    font: 15px/25px Arial,Helvetica,sans-serif;

    margin: 5px 3px 0 0;

    padding: 0 5px;

    text-align: center;

    text-decoration: none;

    }  

 

    ul.setPaginate li a:hover,
    ul.setPaginate li a.current_page

    {

    background: none repeat scroll 0 0 #0d92e1;

    border: 1px solid #000000;

    color: #ffffff;

    text-decoration: none;

    }



    ul.setPaginate li a{

    color:black;

    display:block;

    text-decoration:none;

    padding:5px 8px;
    text-decoration: none;
    }
















.h2, h2 {
    margin-left: 66px;
    font-size: 35px;
    text-align:  center;
    color: #fffefb;
    margin-top: 100px;
    margin-bottom: 30px;
}

.h1, h1 {
    text-align: center;
    font-size: 36px;
    background-color: #1d2089;
    font-color: #fffcfc;
    color: #fffefb;
}

/*.h1, h1 {
    font-size: 36px;
    background-color: #32e8c9;
      margin-top: 40px;
    margin-bottom: 40px;
}
/*.h1 {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;

    
}*/


.table {
    margin-top: 70px;
    width: 80%;
    /* max-width: 100%; */
    margin-bottom: 20px;
    margin-left: 135px;
    margin-right: 174px;
}



.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-image: none;
    float: right;
    margin-right: 91px;
    margin-top: 20px;
}
.body{
    background-image:background.jpg;
    
    
}

.form-horizontal .form-group {
    color: black;
    font-weight:bolder;
    margin-right: -15px;
    margin-left: -15px;
}
    

   
.table {
    width: 80%;
    max-width: 100%;
    /* margin-bottom: 20px; */
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    
}
th {
    text-align: left;
    background-color: #286090;
    color: white;
    text-align: center;
}
td, th {
    padding: 0;
    text-align: center;
}
/*label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bolder;
    color: white;
    margin-top: 21px;
} */

.head-style h1 {
    text-align: center;
    font-size: 47px;
    font-family: initial;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    /* background-color: #337ab7; */
    /* border-color: #2e6da4; */
}
